# Data Analysis and Profiling using Python and Pandas

In [1]:
# import modules
import pandas as pd

In [2]:
# create pandas dataframe
# reading parquet source file with fastparquet engine
df = pd.read_parquet('..//raw_data//coffee-shop-sales-revenue.parquet', engine='fastparquet')

# getting fastparquet installed was a bit of a challenge from the terminal
# created a new .venv dir with vscode and from a jupyter notebook using that .venv install fastparquet

In [7]:
# display sample of the df
display(df.sample(50).sort_values(['store_id', 'product_id'], ascending=True))

# observations
# file seems to have data in overall good shape
# for data warehouse
# need to combine the transaction_date and transaction_time into a transaction_timestamp
# from this file we can create a store dimension with store_id and store_location
# from this file we can create a product dimension with product_id, unit_price, product_category, product_type and product_detail

# plan is to create 3 dfs - transactions(fact), stores(dim), products(dim)

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
147990,148327,2023-06-29,0 days 19:29:39,2,3,Astoria,23,2.50,Coffee,Drip coffee,Our Old Time Diner Blend Rg
110782,111036,2023-05-28,0 days 18:29:23,2,3,Astoria,24,3.00,Coffee,Drip coffee,Our Old Time Diner Blend Lg
5141,5171,2023-01-10,0 days 08:54:08,2,3,Astoria,25,2.20,Coffee,Organic brewed coffee,Brazilian Sm
139474,139811,2023-06-22,0 days 13:09:10,2,3,Astoria,26,3.00,Coffee,Organic brewed coffee,Brazilian Rg
78323,78493,2023-04-28,0 days 12:38:11,2,3,Astoria,27,3.50,Coffee,Organic brewed coffee,Brazilian Lg
76237,76407,2023-04-26,0 days 07:34:53,1,3,Astoria,31,2.20,Coffee,Gourmet brewed coffee,Ethiopia Sm
126376,126713,2023-06-11,0 days 17:34:01,2,3,Astoria,35,3.10,Coffee,Premium brewed coffee,Jamaican Coffee River Rg
24346,24403,2023-02-13,0 days 09:19:26,1,3,Astoria,35,3.10,Coffee,Premium brewed coffee,Jamaican Coffee River Rg
85481,85655,2023-05-05,0 days 19:50:25,1,3,Astoria,38,3.75,Coffee,Barista Espresso,Latte
143053,143390,2023-06-25,0 days 13:26:58,1,3,Astoria,42,2.50,Tea,Brewed herbal tea,Lemon Grass Rg
1474,1475,2023-01-03,0 days 15:35:49,2,3,Astoria,43,3.00,Tea,Brewed herbal tea,Lemon Grass Lg
43842,43949,2023-03-15,0 days 16:24:10,1,3,Astoria,45,3.00,Tea,Brewed herbal tea,Peppermint Lg
44294,44401,2023-03-16,0 days 10:10:26,1,3,Astoria,53,3.00,Tea,Brewed Chai tea,Traditional Blend Chai Lg
45688,45795,2023-03-18,0 days 09:34:20,1,3,Astoria,56,2.55,Tea,Brewed Chai tea,Spicy Eye Opener Chai Rg
36242,36299,2023-03-04,0 days 17:47:32,2,3,Astoria,57,3.10,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
75670,75840,2023-04-25,0 days 10:45:36,2,3,Astoria,61,4.75,Drinking Chocolate,Hot chocolate,Sustainably Grown Organic Lg
26999,27056,2023-02-17,0 days 14:43:31,1,3,Astoria,69,3.25,Bakery,Biscotti,Hazelnut Biscotti
25563,25620,2023-02-15,0 days 09:20:33,1,3,Astoria,72,3.25,Bakery,Scone,Ginger Scone
66961,67131,2023-04-15,0 days 09:52:03,1,3,Astoria,83,14.00,Branded,Housewares,I Need My Bean! Latte cup
136978,137315,2023-06-20,0 days 10:08:27,1,5,Lower Manhattan,23,2.50,Coffee,Drip coffee,Our Old Time Diner Blend Rg
46791,46898,2023-03-19,0 days 17:19:09,2,5,Lower Manhattan,25,2.20,Coffee,Organic brewed coffee,Brazilian Sm
54999,55110,2023-04-01,0 days 09:41:37,1,5,Lower Manhattan,34,2.45,Coffee,Premium brewed coffee,Jamaican Coffee River Sm
106943,107197,2023-05-25,0 days 10:02:01,1,5,Lower Manhattan,40,3.75,Coffee,Barista Espresso,Cappuccino
10191,10221,2023-01-18,0 days 17:23:37,1,5,Lower Manhattan,40,3.75,Coffee,Barista Espresso,Cappuccino
69873,70043,2023-04-18,0 days 12:24:07,2,5,Lower Manhattan,42,2.50,Tea,Brewed herbal tea,Lemon Grass Rg
116062,116324,2023-06-03,0 days 07:10:25,1,5,Lower Manhattan,42,2.50,Tea,Brewed herbal tea,Lemon Grass Rg
101788,102042,2023-05-20,0 days 12:04:16,2,5,Lower Manhattan,42,2.50,Tea,Brewed herbal tea,Lemon Grass Rg
141089,141426,2023-06-24,0 days 06:13:40,2,5,Lower Manhattan,44,2.50,Tea,Brewed herbal tea,Peppermint Rg
126296,126633,2023-06-11,0 days 16:10:08,2,5,Lower Manhattan,49,3.00,Tea,Brewed Black tea,English Breakfast Lg
553,554,2023-01-02,0 days 07:16:46,1,5,Lower Manhattan,57,3.10,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
5554,5584,2023-01-11,0 days 06:41:51,2,5,Lower Manhattan,57,3.10,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
74795,74965,2023-04-24,0 days 10:46:42,1,5,Lower Manhattan,58,3.50,Drinking Chocolate,Hot chocolate,Dark chocolate Rg
105480,105734,2023-05-24,0 days 06:57:14,3,5,Lower Manhattan,59,4.50,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
5332,5362,2023-01-10,0 days 11:20:17,2,5,Lower Manhattan,84,0.80,Flavours,Regular syrup,Chocolate syrup
94909,95163,2023-05-14,0 days 12:17:29,1,8,Hell's Kitchen,13,8.95,Loose Tea,Black tea,English Breakfast
97996,98250,2023-05-17,0 days 09:13:00,2,8,Hell's Kitchen,22,2.00,Coffee,Drip coffee,Our Old Time Diner Blend Sm
78219,78389,2023-04-28,0 days 10:44:20,1,8,Hell's Kitchen,26,3.00,Coffee,Organic brewed coffee,Brazilian Rg
82893,83067,2023-05-03,0 days 14:46:17,1,8,Hell's Kitchen,28,2.00,Coffee,Gourmet brewed coffee,Columbian Medium Roast Sm
110136,110390,2023-05-28,0 days 10:48:09,1,8,Hell's Kitchen,31,2.20,Coffee,Gourmet brewed coffee,Ethiopia Sm
87181,87435,2023-05-07,0 days 13:55:43,2,8,Hell's Kitchen,33,3.50,Coffee,Gourmet brewed coffee,Ethiopia Lg
120656,120993,2023-06-07,0 days 08:31:52,1,8,Hell's Kitchen,35,3.10,Coffee,Premium brewed coffee,Jamaican Coffee River Rg
100513,100767,2023-05-19,0 days 10:39:42,2,8,Hell's Kitchen,40,3.75,Coffee,Barista Espresso,Cappuccino
2470,2471,2023-01-05,0 days 14:01:39,1,8,Hell's Kitchen,44,2.50,Tea,Brewed herbal tea,Peppermint Rg
82528,82702,2023-05-03,0 days 10:58:20,1,8,Hell's Kitchen,45,3.00,Tea,Brewed herbal tea,Peppermint Lg
143676,144013,2023-06-26,0 days 08:03:36,1,8,Hell's Kitchen,50,2.50,Tea,Brewed Black tea,Earl Grey Rg
146189,146526,2023-06-28,0 days 10:11:38,1,8,Hell's Kitchen,58,3.50,Drinking Chocolate,Hot chocolate,Dark chocolate Rg
146689,147026,2023-06-28,0 days 15:40:42,2,8,Hell's Kitchen,60,3.75,Drinking Chocolate,Hot chocolate,Sustainably Grown Organic Rg
131495,131832,2023-06-16,0 days 07:28:18,1,8,Hell's Kitchen,70,3.25,Bakery,Scone,Cranberry Scone
46141,46248,2023-03-19,0 days 06:35:02,1,8,Hell's Kitchen,78,4.50,Bakery,Scone,Scottish Cream Scone
111909,112167,2023-05-30,0 days 07:58:30,1,8,Hell's Kitchen,78,4.50,Bakery,Scone,Scottish Cream Scone

# Exploratory Data Analysis

In [8]:
df.store_id.unique()

array([5, 8, 3])

In [9]:
df.store_location.unique()

array(['Lower Manhattan', "Hell's Kitchen", 'Astoria'], dtype=object)

In [10]:
df.product_id.sort_values(ascending=True).unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 69, 70, 71, 72,
       73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 87])

In [11]:
df.product_category.unique()

array(['Coffee', 'Tea', 'Drinking Chocolate', 'Bakery', 'Flavours',
       'Loose Tea', 'Coffee beans', 'Packaged Chocolate', 'Branded'],
      dtype=object)

In [12]:
df.product_detail.unique()

array(['Ethiopia Rg', 'Spicy Eye Opener Chai Lg', 'Dark chocolate Lg',
       'Our Old Time Diner Blend Sm', 'Oatmeal Scone',
       'Columbian Medium Roast Sm', 'Latte Rg', 'Dark chocolate Rg',
       'Spicy Eye Opener Chai Rg', 'Ethiopia Lg', 'Earl Grey Lg',
       'Ouro Brasileiro shot', 'Serenity Green Tea Lg',
       'Jumbo Savory Scone', 'Lemon Grass Rg',
       'Sustainably Grown Organic Lg', 'Hazelnut Biscotti', 'Cappuccino',
       'Lemon Grass Lg', 'Chocolate Chip Biscotti', 'Peppermint Lg',
       'Chocolate Croissant', 'Latte', 'Brazilian Rg', 'Brazilian Lg',
       'Columbian Medium Roast Rg', 'Morning Sunrise Chai Rg',
       'Morning Sunrise Chai Lg', 'Our Old Time Diner Blend Lg',
       'Sustainably Grown Organic Rg', 'Scottish Cream Scone ',
       'Peppermint Rg', 'English Breakfast Rg',
       'Our Old Time Diner Blend Rg', 'Serenity Green Tea Rg',
       'Brazilian Sm', 'Jamaican Coffee River Sm',
       'Jamaican Coffee River Lg', 'Ginger Biscotti',
       'Traditional Blend Chai Lg', 'Cappuccino Lg', 'Espresso shot',
       'Earl Grey Rg', 'Ginger Scone', 'Jamaican Coffee River Rg',
       'Cranberry Scone', 'Almond Croissant', 'Croissant', 'Ethiopia Sm',
       'English Breakfast Lg', 'Traditional Blend Chai Rg',
       'Columbian Medium Roast Lg', 'Hazelnut syrup', 'Peppermint',
       'Carmel syrup', 'Ethiopia', 'Organic Decaf Blend',
       'Sugar Free Vanilla syrup', 'Chocolate syrup', 'Dark chocolate',
       'Jamacian Coffee River', 'Brazilian - Organic',
       'Morning Sunrise Chai', 'Guatemalan Sustainably Grown',
       'Primo Espresso Roast', 'Serenity Green Tea',
       'Traditional Blend Chai', 'Espresso Roast',
       'Sustainably Grown Organic', 'I Need My Bean! Latte cup',
       'Spicy Eye Opener Chai', 'Chili Mayan', 'English Breakfast',
       'Lemon Grass', 'Columbian Medium Roast',
       'Our Old Time Diner Blend', 'I Need My Bean! T-shirt', 'Earl Grey',
       'Civet Cat', 'I Need My Bean! Diner mug'], dtype=object)

# Transformations

In [13]:
# create the transaction timestamp
df['transaction_timestamp'] = df['transaction_date'] + df['transaction_time']

In [14]:
# create the transactions fact df
transactions = df[['transaction_id', 'transaction_timestamp', 'transaction_qty', 'store_id', 'product_id', 'unit_price']]

In [15]:
# select only store id and related fields to create a stores df
stores = df[['store_id', 'store_location']]

In [16]:
# select only product id and related fields to create a products df
products = df[['product_id', 'product_category', 'product_type', 'product_detail']]

In [17]:
# create stores dimension by using the stores df and dropping duplicates
stores = stores.drop_duplicates()
stores = stores.sort_values('store_id', ascending=True)

In [18]:
# create product dimension by using the product df and dropping duplicates
products = products.drop_duplicates()
products = products.sort_values('product_id', ascending=True)

In [19]:
# checking the end result of the stores df
stores

     store_id   store_location
105         3          Astoria
0           5  Lower Manhattan
17          8   Hell's Kitchen

In [20]:
# checking the end result of the products df
products

,product_id,product_category,product_type,product_detail
3451,1,Coffee beans,Organic Beans,Brazilian - Organic
4494,2,Coffee beans,House blend Beans,Our Old Time Diner Blend
3968,3,Coffee beans,Espresso Beans,Espresso Roast
3554,4,Coffee beans,Espresso Beans,Primo Espresso Roast
4328,5,Coffee beans,Gourmet Beans,Columbian Medium Roast
...,...,...,...,...
4598,81,Branded,Clothing,I Need My Bean! T-shirt
5327,82,Branded,Housewares,I Need My Bean! Diner mug
4033,83,Branded,Housewares,I Need My Bean! Latte cup
3352,84,Flavours,Regular syrup,Chocolate syrup
14,87,Coffee,Barista Espresso,Ouro Brasileiro shot

In [21]:
# checking the end result of the transactions df
transactions

,transaction_id,transaction_timestamp,transaction_qty,store_id,product_id,unit_price
0,1,2023-01-01 07:06:11,2,5,32,3.00
1,2,2023-01-01 07:08:56,2,5,57,3.10
2,3,2023-01-01 07:14:04,2,5,59,4.50
3,4,2023-01-01 07:20:24,1,5,22,2.00
4,5,2023-01-01 07:22:41,2,5,57,3.10
...,...,...,...,...,...,...
149111,149452,2023-06-30 20:18:41,2,8,44,2.50
149112,149453,2023-06-30 20:25:10,2,8,49,3.00
149113,149454,2023-06-30 20:31:34,1,8,45,3.00
149114,149455,2023-06-30 20:57:19,1,8,40,3.75
149115,149456,2023-06-30 20:57:19,2,8,64,0.80

# Data Load into Postgres Data Warehouse

In [22]:
# import modules
from sqlalchemy import create_engine
import psycopg2

In [23]:
# create engine to connect to postgres
engine = create_engine("postgresql+psycopg2://postgres:postgres@0.0.0.0/postgres")

In [24]:
with engine.connect() as conn:
    try:
        print('Successfully connected to the PostgreSQL database')
    except Exception as ex:
        print(f'Sorry failed to connect: {ex}')

Successfully connected to the PostgreSQL database

In [45]:
# load the stores dim to the postgres db
with engine.connect() as conn:
    stores.to_sql('coffee_sales_revenue_stores_dim', conn, schema='dev', if_exists='append',index=False)

In [25]:
# load the products dim to the postgres db
with engine.connect() as conn:
    products.to_sql('coffee_sales_revenue_products_dim', conn, schema='dev', if_exists='append',index=False)

In [26]:
# load the transactions fact to the postgres db
with engine.connect() as conn:
    transactions.to_sql('coffee_sales_revenue_txn_fact', conn, schema='dev', if_exists='append',index=False)